.editSlug, .beautySlug, .travelSlug {
	background-repeat: no-repeat;
}

.editSlug {
    width: 157px;
    height: 49px;
    background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/slug.png);
    background-size: 157px 49px;
    
    @media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
        background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/slug@2x.png);
    }
}

.lang-zh .editSlug {
    width: 167px;
    height: 48px;
    background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/slug_zh.png);
    background-size: 167px 48px;
    
    @media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
        background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/slug_zh@2x.png);
    }
}

.beautySlug {
    width: 173px;
    height: 63px;
    background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/beautySlug.png);
    background-size: 173px 63px;
    
    @media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
        background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/beautySlug@2x.png);
    }
}

.travelSlug {
    width: 146px;
    height: 49px;
    background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/travelSlug.png);
    background-size: 146px 49px;
    
    @media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (-o-min-device-pixel-ratio: 13/10),
    only screen and (min-resolution: 120dpi) {
        background-image: url(/alfresco/nap/webAssets/magazine/_shared/contents/travelSlug@2x.png);
    }
}
